.content {
    /* position:absolute; */
    display: flex;
    flex-direction: row;
    max-height:442px;
    width:100%;
    padding: 0px;
    /* margin: 0px; */
    /* padding-inline: 11px; */
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* background: red; */

}

/* .chatform {
    display: flex;
    flex-direction: column;
    max-height:100%;
    align-items: center;
    justify-content: center;
    gap: 8px;
} */



.join {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.createcode {
    width: 100%;
}


.roomdisplay {
    display:flex;
    flex-direction: column;
    height:100%;
    width:100%;
    top:0px;
    /* border: 2px solid black; */
    border-radius: 8px;

    padding: 0px;
    padding-inline: 11px;
    /* background: whitesmoke; */
    /* background: transparent; */
    /* padding: 24px; */
    align-items:stretch;
    overflow-x: hidden;
}

.messages {
    /* display: grid; */
    /* flex-direction: column; */
    top:0px;
    overflow-y: scroll;
    flex: 1;
    width: 100%;
    padding: 0px;
    gap: 8px;
    /* transform: translateY(100%); */
    /* align-items:end; */
}

.inputs {
    display: flex;
    padding: 8px;
    gap: 4px;
    /* flex-shrink: 0;
    flex-wrap: wrap; */
}

h2 {
    text-align:center;
}

#message {
    flex: .97;
}

.text {
    /* display: grid; */
    /* flex-direction: row; */
    /* align-items: center; */
    /* justify-content: space-between; */
    /* background:transparent; */
    /* margin-block: 24px; */
    padding: 4px;

    /* border: 1px solid rgba(255, 255, 255, .24); */
    /* border-radius:8px; */
    overflow: hidden;
}

.muted {
    font-size: 11px;
    /* color:darkgrey; */
    color:#00000067;
}

.currentuser {
    width: fit-content;
    max-width: 49%;
    /* max-height: 49px; */
    min-height: fit-content;
    color: black;
    /* font-size: 17px; */
    /* background: rgba(36, 42, 222, 0.42); */
    background:rgba(255, 192, 203, 0.24);
    /* background: #B76E79; */
    /* background:rgba(255, 255, 255, .24); */
    border: 1px solid rgba(255, 255, 255, .08);
    border-radius:8px;
    /* -webkit-backdrop-filter:blur(11px) saturate(1.04) brightness(89%);
    backdrop-filter:blur(11px) saturate(1.04) brightness(89%); */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.24);
    padding: 4px;
    padding-inline: 8px;
    text-align:right;
    /* margin-top: 0px; */
    margin-block: 11px;
    margin-top: 4px;
    margin-left: auto;
    justify-self:right;
    white-space: pre-wrap;
    overflow: hidden;
}
.currentusername {
    display:grid;
    text-align:right;
    font-size: 11px;
    /* color:darkgrey; */
    /* color:var(--primaryplaceholdercolor); */
    color:#00000067;
    margin-right: 0px;
    margin-left: auto;
    padding: 0px;
    padding-inline: 2px;
    justify-self:right;
}

.otherusers {
    width: fit-content;
    max-width: 49%;
    /* max-height: 49px; */
    min-height: fit-content;
    color: black;
    background: rgba(0, 0, 0, 0.08);
    border: 1px solid rgba(255, 255, 255, .08);
    /* border: 1px solid rgba(255, 255, 255, .49); */
    border-radius:8px;
    /* -webkit-backdrop-filter:blur(11px) saturate(1.04) brightness(49%);
    backdrop-filter:blur(11px) saturate(1.04) brightness(49%); */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.24);
    padding: 4px;
    /* padding-inline: 8px; */
    margin-block: 11px;
    margin-top: 4px;
    margin-right: auto;
    justify-self:left;
    white-space: pre-wrap;
    overflow: hidden;
}
.otherusersname {
    display:grid;
    font-size: 11px;
    /* color:darkgrey; */
    /* color:var(--primaryplaceholdercolor); */
    color:#00000067;
    margin: 0px;
    margin-right: auto;
    padding: 0px;
    padding-inline: 2px;
    justify-self:left;
}

.system {
    width: fit-content;
    max-width: 67%;
    /* color: darkgrey; */
    /* color:var(--primaryplaceholdercolor); */
    color:#00000067;
    font-size: 11px;
    background: transparent;
    margin-inline: auto;
    /* margin-bottom: 11px; */
    text-align: center;
    justify-self:center;
    white-space: pre-wrap;
    /* box-shadow: 0 0 24px rgba(0, 0, 0, 0.24); */
}

