<style>
    body {
    background-color: #fff;
    /* background-color: slategrey; */
    color: #212529;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    width: 90%;
}

.header {
    background-color: #477bff;
    color: #fff;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}

.section {
    padding: 2rem;
}

.section:hover {
    background-color: #f5f5f5;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

button, input[type="submit"] {
    background-color: #d9edff;
    border: 1px solid transparent;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .17);
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem .75rem;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
}

input[type="text"], input[type="number"] {
    line-height: 1.8;
    border-radius: 4px;
    border: .8px solid black;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .17);
    min-width: 25%;
    padding-left:8px;
}

input[type="text"]:hover, input[type="number"]:hover {
    background-color: #f5f5f5;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

table {
    table-layout: fixed;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    margin-bottom: 1rem;
    width: 100%;
    border-radius:8px;
    border:1px solid rgba(0, 0, 0, .17);
    border-spacing: 8px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, .17);
    padding:0px;
}

table th,
table td {
    min-width:auto;
    padding: 0.75rem;
    vertical-align: middle;
    border-radius:8px;
    border:1px solid rgba(0, 0, 0, .17);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .17);
}


/* tbody tr:nth-of-type(odd) {
    background-color: rgb(179, 208, 255, 0.3)
} */

.table-title {
    display:flex;
    justify-content:space-around;
    font-weight:900 !important;
    font-size: 24px;
}


form.add-birthdayrecord-form {
    display: grid;
    grid-auto-flow: column;  /* Places children side-by-side */
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr 1fr;
    grid-template-areas:
    "add-birthdayrecord-inputs"
    "submit-birthdayrecord-btn";
    width:100%;
    gap:8px;

}

.add-birthdayrecord-inputs {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto auto auto;
    min-width:100%;
    gap:8px;
}

.submit-birthdayrecord-btn {
    width:100%;
}

.data-entry {
    opacity: 1;
    transition: transform .4s ease-in-out, opacity .4s ease-in-out;
}

.data-entry.edit {
    opacity: 1;
    /* transition: transform .4s ease-in-out, opacity .4s ease-in-out; */
}

.data-entry.delete {
    /* scale: 0, 0; */
    transform: translateX(-24px);
    opacity: 0;
    pointer-events:none;
}


.submission-error{
    display:grid;
    justify-items:center;
    /* position:sticky; */
    /* top:8px; */
    /* height:0px; */
    margin-top:8px;
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    color: black;
    border-radius:8px;
    /* border:1px solid rgba(255, 255, 255, .17); */
    /* box-shadow: 0 1px 8px rgba(0, 0, 0, .17); */
    padding:8px;
    opacity: 1;
    transition: all .24s ease-in-out
}

.change-buttons {
    display:flex;
    justify-content: space-around;
}

.change-button {
    min-width:46%;
    transition: transform .49s ease-in-out;
}
.change-button:hover {
    transform: scale(1.024, 1.024);
}


.birthdaytable-body {
}

.process-flag {
    position:sticky;
    top:8px;
    height:0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: white;
    border-radius:8px;
    border:1px solid rgba(255, 255, 255, .17);
    box-shadow: 0 1px 8px rgba(0, 0, 0, .17);
    padding:8px;
    opacity: 0;
    transition: all .24s ease-in-out

}

.process-flag.add {
    height:fit-content;
    background:green;
    opacity: .64;
}
.process-flag.edit {
    height:fit-content;
    background:orange;
    opacity: .64;
}
.process-flag.delete {
    height:fit-content;
    background:red;
    opacity: .64;
}


.edit-window {
    /* display:none; */
    /* display:grid; */
    padding:24px;
    height:40vh;
    width:40vw;
    background: transparent;
    backdrop-filter: blur(8px) brightness(.94);
    border: 1px solid rgba(255, 255, 255, .29);
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .24);
    font-family: 'Montserrat', sans-serif;
    overflow:hidden;
    /* z-index:999 */
}
.edit-window.active {
    display:grid;
    /* padding:24px; */
}

.edit-birthday-form {
    display: grid;
    height:90%;
    text-align:left;
    padding:24px;
    padding-top: 11px;
}

label {
    margin-top:24px;
    margin-bottom:-11px;
}

input.edit {
    height:34px;
    background:transparent;
    border: 1px solid rgba(255, 255, 255, .29);
}

.submit-edit-btn {
    display:grid;
    margin-top:auto;
    width: 100%;
}

</style>

        <!-- <div class="header">
            <h1>Birthdays</h1>
        </div> -->
        <div class="container">
            <div class="section">

                <h2>Add a Birthday</h2>
                <!-- TODO: Create a form for users to submit a name, a month, and a day -->
                <form class="add-birthdayrecord-form" action="/" method="post">
                    <div class="add-birthdayrecord-inputs">
                        <input id="name-input" name="name-input" class="name-input input" data-field="name" type="text" placeholder="Name">
                        <input id="month-input" name="month-input" class="month-input input" data-field="month (1-12)" type="text" placeholder="Month">
                        <input id="day-input" name="day-input" class="day-input input" data-field="day (1-31)" type="text" placeholder="Day">
                    </div>
                    <button class="submit-birthdayrecord-btn change-button" data-process="add" type="submit">Add Birthday</button>
                </form>
                <div class="submission-error"></div>
            </div>

            <div class="section">

                <div class="process-flag"></div>

                <h2>All Birthdays</h2>
                <table>
                    <thead>
                        <tr>
                            <th colspan="2">
                                <div class="table-title">
                                    <strong>Name</strong>
                                    <strong>Birthday</strong>
                                </div>
                            </th>
                            <th colspan="1">Incorrect Submission?</th>
                        </tr>
                    </thead>
                    <tbody class="birthdaytable-body">
                        <!-- TODO: Loop through the database entries to display them in this table -->
                        {% for record in records %}
                            <tr id="{{ record['id'] }}" class="data-entry" data-name="{{ record['name'] }}" data-month="{{ record['month'] }}" data-day="{{ record['day'] }}">
                                <td class="entry-name">{{ record["name"] }}</td>
                                <td class="entry-date">{{ record["month"] }}/{{ record["day"] }}</td>
                                <td colspan="1" class="change-buttons">
                                    <button popovertarget="edit-window" class="edit-button change-button" data-id="{{ record['id'] }}" data-process="edit" type="button">Edit</button>
                                    <button class="delete-button change-button" data-id="{{ record['id'] }}" data-process="delete" type="button">Delete</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div id="edit-window" class="edit-window" popover>
                    <form class="edit-birthday-form" action="/edit" method="post">
                        <label>Name:</label>
                        <input id="name-edit" name="name-edit" class="name-edit edit" type="text" placeholder="Name">

                        <label>Month:</label>
                        <input id="month-edit" name="month-edit" class="month-edit edit" type="text" placeholder="Month">

                        <label>Day:</label>
                        <input id="day-edit" name="day-edit" class="day-edit edit" type="text" placeholder="Day">
                        <br>
                        <button class="submit-edit-btn" data-process="edit" data-omit="omit" type="submit">Edit Birthday</button>
                    </form>
                    <div class="submission-error"></div>
                </div>
            </div>
        </div>

